@import "tailwindcss";
@font-face {
  font-family: "Hanson";
  src: url(".Hanson-Bold.otf") format("truetype");
  font-weight: bold;
}
:root {
  --font-primary: "Hanson", sans-serif;
  --font-secondary: "Poppins", sans-serif;

  --color-primary: #f15c36;
  --color-dark: #272727;
  --color-darked: #121212;
  --color-darker: #191919;
  --color-black:#333946;
  --color-light: #f1f1f1;
  --color-white: #ffffff;

}
.font-secondary {
  font-family: var(--font-secondary);
}

.font-primary {
  font-family: var(--font-primary);
}

